/* Adding Basier Circle font */

@font-face {
  font-family: "Basier circle";
  src: url("./assets/fonts//basiercircle-bold-webfont.eot");
  src: url("./assets/fonts//basiercircle-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts//basiercircle-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts//basiercircle-bold-webfont.woff") format("woff"),
    url("./assets/fonts//basiercircle-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basier circle";
  src: url("./assets/fonts//basiercircle-semibold-webfont.eot");
  src: url("./assets/fonts//basiercircle-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts//basiercircle-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts//basiercircle-semibold-webfont.woff") format("woff"),
    url("./assets/fonts//basiercircle-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basier circle";
  src: url("./assets/fonts//basiercircle-medium-webfont.eot");
  src: url("./assets/fonts//basiercircle-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts//basiercircle-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts//basiercircle-medium-webfont.woff") format("woff"),
    url("./assets/fonts//basiercircle-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basier circle";
  src: url("./assets/fonts//basiercircle-regular-webfont.eot");
  src: url("./assets/fonts//basiercircle-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts//basiercircle-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts//basiercircle-regular-webfont.woff") format("woff"),
    url("./assets/fonts//basiercircle-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Remove number input spinner - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input spinner - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.react-datepicker {
  @apply p-3 rounded appearance-none focus:(border-2 border-primaryColor) border border-borderColor;
}
.react-datepicker__month-container {
  @apply flex flex-col;
}
.react-datepicker__month {
  @apply flex flex-row justify-around;
}
.react-datepicker__day-names {
  @apply flex flex-row justify-around;
}
.react-datepicker__day {
  @apply h-[20px] w-[20px];
}